html, body {
    height: 100%;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #676a6c;
}
*{
	margin: 0;
	padding: 0;
}
.col_5{
	width: 5%;
}
.col_10{
	width: 10%;
}
.col_20{
	width: 20%;
}
.col_30{
	width: 30%;
}
.col_40{
	width: 40%;
}
.col_50{
	width: 50%;
}
.col_60{
	width: 60%;
}
.col_70{
	width: 70%;
}
.col_80{
	width: 80%;
}
.col_100{
	width: 100%;
}
.col_15{
	width: 15%;
}.col_25{
	width: 25%;
}
.flex{
	display: flex;
}

.nowrap{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


h3{
	text-align: center;
}
h4{
	font-weight: bold;
	color: #333;
	margin: 8px 0;
}
.code{
	display: block;
	margin: 8px 0;
	padding: 8px 10px 8px 20px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
}
.code span{
	display: inline-block;
	margin-left: 20px;
}
p{
	text-indent: 2em;
}
pre{
	margin: 8px 0;
	padding-top: 10px;
}

.F_Position{
	position: relative;
}
.Jump{
	padding-bottom: 300px;
}

.Table{
	border: 1px solid #ccc;
	width: 100%;
}
.Table .TableRow{
	width: 100%;
}
.Table .TableRow+.TableRow{
	border-top: 1px solid #ccc;
}
.Table .TableRow:nth-child(2n){
	background: #F5F5F5;
}
.TableRow .RowLeft,.RowRight{
	display: inline-block;
}
.TableRow .RowLeft{
	text-align: left;
	padding: 0 20px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis ;
	border-right: 1px solid #ccc;
	vertical-align: middle;
}
.TableRow .RowRight{
	padding-left: 20px;
}


