@charset "utf-8";
/*其他杂项修改 */
@import url("global.css");
/*修改layui*/
@import url("./changeLayer.css");
.Title{
	position: absolute;
    width: 300px;
    z-index: 9999;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #777;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 28px;
}

.betweenFlex{
	display: flex;
	justify-content: space-between;
}

.main{
	padding: 15px;
	height: 100%;
	background-color: #f3f3f4;
}

.shadow{
	box-shadow: 0 0 5px #ddd;
	background-color: #fff;
	padding: 10px 10px 20px 10px;
}

.margin_top{
	margin-top: 15px;
}

.refresh{
	position: absolute;
    z-index: 2;
    right: 140px;
    width: 50px;
    padding: 0;
    text-align: center;
    top: 0;
    border-left: solid 1px #eee;
    background-color: #fff;
}
.red{
	color: red;
}
.pink{
	color: #F581B1;
}
.yellow{
	color: #f0ad4e;
}
.blue{
	color: #01AAED;
}
.green{
	color: #5FB878;
}
.initBtn{
	padding: 0 8px;
}
.margin_top{
	margin-top: 5px;
}
::-webkit-scrollbar{
   display:none;
} 





/*左侧菜单栏修改*/
.S_slider{
	width: 100%;
}
.S_slider .J_menuItem{
	padding-left: 72px;
	color: #fff;
}








/* PEACE 进度条*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #1ab394;
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: 2px;
}

.pace-inactive {
    display: none;
}




/*修改原左侧宽度*/
body.fixed-sidebar.mini-navbar .navbar-static-side {
    /*width: 30px;*/
   width: 0px;
}
body.mini-navbar .navbar-default .nav > li > a {
    padding: 5px;
}
body.fixed-sidebar.mini-navbar #page-wrapper {
    /*margin: 0 0 0 30px;*/
    margin: 0;
}


/*修改bootsrap*/
.form-control{
	box-shadow: initial;
	border-radius: 2px;
}
.form-control:focus{
	border-color: #ccc;
	box-shadow: initial;
}

#app{
	position: relative;
}
pre{
	color: #8f1dd6;
	background-color: #efefef;
}
.topBtn{
	position: fixed;
	right: 30px;
	bottom: 50px;
	background: #e7eaf1;
	width: 30px;
	height: 35px;
	z-index: 333;
	box-shadow: 0 2px 3px #ccc;
}
.topBtn .fa{
	width: 100%;
	height: 100%;
	font-size: 25px;
	margin: 5px 10px;
}