/*隐藏input*/
label.bui-radios-label input[type="radio"] {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

/*自定义radio*/
label.bui-radios-label .bui-radios {
	display: inline-block;
	position: relative;
	width: 13px;
	height: 13px;
	background-color: #fff;
	border: 1px solid #979797;
	border-radius: 50%;
	vertical-align: -2px;
	margin-right: 5px;
}

/*单选框选中后，自定义radio的样式*/
label.bui-radios-label input[type="radio"]:checked+.bui-radios:after {
	position: absolute;
	content: "";
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
	top: 2px;
	left: 2px;
}

label.bui-radios-label input[type="radio"]:checked+.bui-radios {
	background-color: #00B066;
	border: 1px solid #00B066;
}

label.bui-radios-label input[type="radio"]:disabled+.bui-radios {
	background-color: #e8e8e8;
	border: 1px solid #979797;
}

label.bui-radios-label input[type="radio"]:disabled:checked+.bui-radios:after {
	background-color: #c1c1c1;
}

/*自定义radio的过渡效果*/
label.bui-radios-label.bui-radios-anim .bui-radios {
	-webkit-transition: background-color ease-out .5s;
	transition: background-color ease-out .5s;
}

label.bui-checkbox-label input[type="checkbox"] {
	visibility: hidden;
	opacity: 0;
}

label.bui-checkbox-label .bui-checkbox {
	display: inline-block;
	position: relative;
	width: 13px;
	height: 13px;
	border: 1px solid #ddd;
	background-color: #fff;
	vertical-align: -2px;
	margin-right: 5px;
}

label.bui-checkbox-label input[type="checkbox"]:checked+.bui-checkbox:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(-45deg) translate(-50%, -50%);
	/*top:50%;*/
	left: 50%;
}

label.bui-checkbox-label input[type="checkbox"]:checked+.bui-checkbox {
	background-color: #00B066;
}

label.bui-checkbox-label input[type="checkbox"]:disabled+.bui-checkbox {
	background-color: #e8e8e8;
	border: 1px solid #979797;
}

label.bui-checkbox-label input[type="checkbox"]:disabled:checked+.bui-checkbox:after {
	border-color: #000;
}

label.bui-checkbox-label.bui-checkbox-anim .bui-checkbox {
	-webkit-transition: background-color ease-in-out .3s;
	transition: background-color ease-in-out .3s;
}
