* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.carousel {
	width: 520px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

ul {
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: all 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

ul li {
	display: inline-block;
	width: 100%;
	height: 200px;
}

.carousel ul li img {
	display: block;
	width: 100%;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	color: white;
	cursor: pointer;
	background: rgba(0, 0, 0, .5);
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.dots {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
}

.dian {
	text-align: center;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	margin: 2px;
}

.active {
	background: green;
}
